@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: calc(1rem + 0.5vh); /* Adjust this formula as needed */
  }
  
  @media (max-height: 1200px) {
    html {
      font-size: calc(0.8rem + 0.4vh);
    }
  }
  
  @media (max-height: 800px) {
    html {
      font-size: calc(0.8rem + 0.3vh);
    }
  }
  
  